.mineBoard{
  margin:0px auto;
  width: fit-content;
  height: fit-content;

}
.cell{
  font-size: 10px;
  border: 0px solid #a2a3bb;
  background-color: #e6e6e6;
  color:#24243e;
  padding: .5px; 
  margin: 0px; 
  width: 20px;
  height: 20px;

}
.clockContainer{
  margin:0px auto;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  
}
.clock{
  background-color: aquamarine;
  margin:0px auto;
  width: fit-content;
  display: inline-block;
  font-size: 20px;
}
.Exit{
  margin:0px auto;
  text-align: center;
  width: 100%;
}
.buttonExit{
  margin: 0px auto;
  display: block;
}
.BombsContainer{
  width: 100px;
  display: inline-block;
  font-size: 20px;
  margin-left: 50px;
}
.Bombs{
  width:fit-content;
  display: inline-block;
}
.buttonNormal{
  font-size: 5px;
  padding: 0px;
  margin: 1px; 
  width:100%;
  height:20px;
}
.buttonBombMark{
  font-size: 5px;
  padding: 0px;
  margin: 0px; 
}
.buttonActivated{
  text-align: center;
  font-size: 10px;
  padding: 1px;
  border: 1px #FFFFFF solid;
  margin: 0px; 
}
.button1{
  color:#0000FF;
  font-weight: bold;
}
.button2{
  color:#00AA00;
  font-weight: bold;
}
.button3{
  color:#AA0000;
  font-weight: bold;
}
.button4{
  color:#AA00AA;
  font-weight: bold;
}
.button5{
  color:#AAAA00;
  font-weight: bold;
}
.button6{
  color:#00AAAA;
  font-weight: bold;
}
.button7{
  color:#333333;
  font-weight: bold;
}
.button8{
  color:#000000;
  font-weight: bold;
}
.button-1{
  font-size: 2px;
  color:#FFFFFF;
  font-weight: bold;
  background-color: #AA0000;
}


